<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="kutuphaneConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\kutuphane.accdb;Persist Security Info=True"
   providerName="System.Data.OleDb" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
